<h1>Lista de Localizaciones</h1>
<p>
    Esto es una lista de todas las galaxias y lugares del sistema del universo.
</p>

<a href="/api/location/create">Crear una nueva localización. </a>

<table class="border-2 border-black">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        <% locations.forEach(location => { %>

        <tr>
            <td>
                <a href="/api/location/<%= location.id %>">
                    <%= location.id %></a
                >
            </td>
            <td>
                <a href="/api/location/<%= location.id %>">
                    <%= location.name %></a
                >
            </td>

            <td>
                <a href="/api/location/<%= location.id %>/edit">Editar</a>

                <form
                    class="form-delete"
                    action="/api/location/<%= location.id %>?_method=DELETE"
                    method="post"
                >
                    <button type="submit">Borrar</button>
                </form>
            </td>
        </tr>

        <% }); %>
    </tbody>
</table>

<script>
    document.addEventListener('submit', (event) => {
        event.preventDefault();

        if (event.target.classList.contains('form-delete')) {
            if (confirm('¿Estas seguro?')) {
                event.target.submit();
            }
        }
    });
</script>
